:root {

    --main-background: rgb(0, 0, 0);
    --main-color: rgb(200, 200, 0);

    --highlight-background: rgba(0, 0, 0, 0.1);

    --error-color: rgb(204, 109, 109);

    --anchor-color: red;

    --scroll-bar-background: rgba(220, 227, 230, 0.25);
}
